{%- if page.nav == "custom" -%}
<a href="/" title="Home">Home</a>&nbsp;|&nbsp;
{%- endif -%}

{%- if page.custom-nav -%}
	{%- for custom-nav in page.custom-nav -%}
		{{ custom-nav }}
	{%- endfor -%}
{%- else -%}
{%- unless page.url == "/" -%}<a href="/" title="Home">Home</a>&nbsp;|&nbsp;{%- endunless -%}
	{%- unless page.url == "/portfolio" -%}<a href="/portfolio" title="Portfolio">Portfolio</a>{%- unless page.url == "/blog" -%}&nbsp;|&nbsp;{%- endunless -%}{%- endunless -%}
	{%- unless page.url == "/blog" -%}<a href="/blog" title="Blog">Blog</a>{%- endunless -%}
{%- endif -%}