{%- include head-matter.html -%}

<body>

<main class="index">

<header>
	<h1 class="index-title">Derek Kedziora</h1> 
		<nav>
			<a href="/about" title="About">About</a>&nbsp;|&nbsp;<a href="/blog" title="Blog">Blog</a>&nbsp;|&nbsp;<a href="/notes" title="Notes">Notes</a>&nbsp;|&nbsp;<a href="/now" title="Now">Now</a>&nbsp;|&nbsp;<a href="/portfolio" title="Portfolio">Portfolio</a>
		</nav>
</header>

{{ content }}

</main>

{%- include footer.html -%}

</body>

{% include about-picture-script.html %}

</html>